<div class="collapse navbar-collapse pull-right">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbar">
                <span class="glyphicon glyphicon-edit"></span>
                Cadastros
                                        <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="~/Funcionario/Cadastrar">Colaborador</a></li>
                <li><a href="~/Cargo/Cadastrar">Cargo</a></li>
                <li><a href="~/Cliente/Cadastrar">Cliente</a></li>
                <li><a href="#CadastrarPeca" data-toggle="modal" id="LinkPeca">Peça</a></li>
                <li><a href="#CadastrarFornecedor" data-toggle="modal">Fornecedor</a></li>
                <li><a href="#CadastrarSituacaoJob" data-toggle="modal">Situação</a></li>
            </ul>
        </li>
    </ul>
</div>
