<div class="modal fade" id="CadastrarJob">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="FecharCadastroJob" onclick="LimparJob();" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Novo Job</h4>
            </div>
            <div class="modal-body form-working">
                <form role="form" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="Cliente" class="control-label col-sm-2">*Cliente:</label>
                            <div class="col-sm-10">
                                <select class="selectpicker show-tick form-control" name="Cliente" id="ClienteCadastro" data-live-search="true" autofocus>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Briefing" class="control-label col-sm-2">*Briefing:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Briefing" id="BriefingCadastro" style="resize: none;" onkeyup="CaracterBriefing();" onkeydown="CaracterBriefing();"></textarea>
                            </div>
                            <div class="caracteres">
                                <span id="CaracterBriefing" class="pull-right">5000 caracteres</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" id="SalvarJob" onclick="InserirJob();" data-dismiss="modal">
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                            Cadastrar                                                                      
                        </button>
                        <button type="button" class="btn btn-danger" id="CancelarJob" onclick="LimparJob();" data-dismiss="modal">
                            <span class=" glyphicon glyphicon-remove"></span>
                            Cancelar                                                                       
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function CadastrarJob(cliente, briefing) {
        $.ajax({
            type: 'POST',
            url: '/Job/CadastrarAjax/',
            data: {
                cliente: cliente,
                briefing: briefing
            },
            success: function () {
                $('#BriefingCadastro').val("");
                AtualizaJobs();
            },
            error: function (xhr, status, response) { alert(response); }
        });
    }

    function CaracterBriefing() {
        var quant = 5000;
        var total = document.getElementById("BriefingCadastro").value.length;

        if (total == 0) {
            $('#CaracterBriefing').text('5000 caracteres');
        } else if (total < quant) {
            $("#CaracterBriefing").text(quant - total + " caracteres restantes");
        } else {
            document.getElementById('BriefingCadastro').value = document.getElementById("BriefingCadastro").value.substr(0, quant);
        }
    }

    function InserirJob() {
        var cliente = $('#ClienteCadastro').val();
        var briefing = $('#BriefingCadastro').val();

        CadastrarJob(cliente, briefing);
    }

    function LimparJob() {
        $('#BriefingCadastro').val("");
    }
</script>