@model IEnumerable<Dominio.Entidades.Acesso>
@{
    ViewBag.Title = "Cadastrar";
}
<div class="form-working pull-left col-md-9">
    <div class="titulo1 col-sm-10">
        <h2>Cadastrar Cargo</h2>
    </div>

    <form role="form" method="post" class="form-horizontal col-sm-10" style="padding-top: 10px;">
        <div class="form-group">
            <label for="Nome" class="col-sm-2 control-label">*Nome:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="Nome" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="Permissao" class="col-sm-2 control-label">*Permissão:</label>
            <div class="col-sm-10">
                <select class="form-control selectpicker show-tick" name="Acesso" multiple required>
                    @{
                        foreach (var i in Model)
                        {
                            <option value="@i.Id">@i.Descricao</option>  
                        }
                    }
                </select>
            </div>
        </div>
        <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            Cadastrar
        </button>
    </form>
</div>
