@using System.Collections.Specialized
@model IEnumerable<Dominio.Entidades.TipoConta>
@{
    ViewBag.Title = "Cadastrar Conta a Pagar";
}

<div class="form-working">
    <ol class="breadcrumb col-md-7">
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/ContasPagar/Index">Financeiro</a></li>
        <li class="active">Cadastrar Conta a Pagar</li>
    </ol>
    <div class="titulo1 col-md-7">
        <h1>Cadastrar Conta a Pagar</h1>
    </div>

    <form role="form" method="post" class="form-horizontal col-md-6" style="padding-top: 10px;">
        <div class="form-group">
            <label for="TipoConta" class="col-sm-3 text-right control-label">Tipo Conta:</label>
            <div class="col-sm-8">
                <select class="form-control selectpicker" name="TipoConta" required="">
                    @foreach (var i in Model)
                    {
                        <option value="@i.Id">@i.Descricao</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Valor" class="col-sm-3 text-right control-label">Valor:</label>
            <div class="col-sm-8">
                <input class="form-control currency" type="text" name="Valor" id="Valor" required />
            </div>
        </div>
        <div class="form-group">
            <label for="NumeroParcelas" class="col-sm-3 text-right control-label">Parcelas:</label>
            <div class="col-sm-8">
                <input class="form-control inputNumber" type="number" name="NumeroParcelas" required />
            </div>
        </div>
        <div class="form-group">
            <label for="DataPrimeiraParcela" class="col-sm-3 text-right control-label">Primeira Parcela:</label>
            <div class="col-sm-8">
                <input class="form-control datepicker" type="text" name="DataPrimeiraParcela" id="DataPrimeiraParcela" readonly="readonly" required />
            </div>
        </div>
        <div class="form-group">
            <label for="Descricao" class="col-sm-3 text-right control-label">Descrição:</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="Descricao" style="resize: none;" required></textarea>
            </div>
        </div>
        <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            Cadastrar
        </button>
    </form>
</div>

@section Scripts{
    <script>
        $('#NumeroContrato').on('blur', function () {
            var id = $('#NumeroContrato').val();
            $.get('/Contrato/VerificarCadastroContrato/' + id, function (data) {
                if (data == "existente") {
                    $('#NumeroContrato').focus().select();
                    $('#divNumeroContrato').addClass('has-error');
                    $('#SpanNumeroContrato').css('color', '#b94a48');
                    $('#SpanNumeroContrato').text('Contrato já cadastrado.');
                } else {
                    $('#divNumeroContrato').removeClass('has-error').addClass('has-success');
                    $('#SpanNumeroContrato').css('color', '#468847');
                    $('#SpanNumeroContrato').text('Número de contrato disponível.');
                }
            });
        });

        $('#NumeroContrato').on('keypress', function () {
            if ($('#SpanNumeroContrato').text() != '') {
                $('#divNumeroContrato').removeClass('has-error has-success');
                $('#SpanNumeroContrato').css('color', 'transparent');
                $('#SpanNumeroContrato').text('');
            }
        });
    </script>
}
